<article>
	<!-- 页面公共左侧导航，使用自定义标签方式引入模版 -->
    <bxg-aside focus="teacher"></bxg-aside>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
        	<!-- 页面公共头部，使用自定义属性方式引入模版 -->
        	<div bxg-header></div>
            <!-- 讲师列表 -->
            <div class="body teacher-list">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">讲师管理</a></li>
                    <li class="active">讲师列表</li>
                </ol>
                <div class="page-title">
                    <a href="#!/teacher/add" class="btn btn-success btn-sm pull-right">添加讲师</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-submit="search()" class="form-inline">
                            <div class="input-group">
                                <input ng-model="searchVal" type="text" class="form-control input-sm" placeholder="姓名、昵称、入职日期">
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm">搜索</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <table class="table-teacher-list table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th ng-click="orderChange('tc_name')">姓名</th>
                                <th ng-click="orderChange('tc_roster')">昵称</th>
                                <th ng-click="orderChange('tc_birthday')">年龄出生日期</th>
                                <th ng-click="orderChange('tc_gender')">性别</th>
                                <th ng-click="orderChange('tc_cellphone')">手机号码</th>
                                <th ng-click="orderChange('tc_join_date')">入职日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                       	<tbody>
					        <tr ng-repeat="teacher in teacherList | orderBy: order.title: order.positive">
					            <td>{{ $index + 1 }}</td>
					            <td>{{ teacher.tc_name }}</td>
					            <td>{{ teacher.tc_roster }}</td>
					            <td>{{ teacher.tc_birthday  | date: "yyyy" }}</td>
					            <td>{{ teacher.tc_gender == 0? '男': '女' }}</td>
					            <td>{{ teacher.tc_cellphone }}</td>
					            <td>{{ teacher.tc_join_date }}</td>
					            <td>
					                <a ng-click="getTeacherInfo(teacher.tc_id)" data-toggle="modal" class="btn btn-info btn-xs teacher-view">查 看</a>
					                <a href="#!/teacher/edit?tc_id={{ teacher.tc_id }}" class="btn btn-info btn-xs">编 辑</a>
					                <a ng-click="changeTeacherStatus(teacher, teacher.tc_id, teacher.tc_status)" class="btn btn-warning btn-xs teacher-handle">{{ teacher.tc_status == 0? '注销': '启用'  }}</a>
					            </td>
					        </tr>
					    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 添加课程 -->
    <div class="modal fade" id="teacher-modal">
    	<div class="modal-dialog" style="width: 750px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="panel-title">讲师信息</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <th>姓名:</th><td>{{ teacherView.tc_name }}</td>
                                <th>职位:</th><td colspan="3">讲师</td>
                                <td rowspan="4" width="128">
                                    <div class="avatar">
                                        <img src={{ teacherView['tc_avatar']? teacherView['tc_avatar']: "/img/default.png" }}>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>花名:</th><td>{{ teacherView.tc_roster }}</td>
                                <th>出生日期:</th><td colspan="3">{{ teacherView.tc_birthday }}</td>
                            </tr>
                            <tr>
                                <th>性别:</th><td>{{ teacherView.tc_gender == 0? '男': '女' }}</td>
                                <th>入职日期:</th><td colspan="3">{{ teacherView.tc_join_date }}</td>
                            </tr>
                            <tr>
                                <th>手机号码:</th><td colspan="2">{{ teacherView.tc_cellphone }}</td>
                                <th>邮箱:</th><td colspan="2">{{ teacherView.tc_email }}</td>
                            </tr>
                            <tr>
                                <th>籍贯:</th><td colspan="6">{{ teacherView.tc_hometown.split('|').join(' ') }}</td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <div class="introduce">
                                    	{{ tc_introduce }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>
